.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .menu {
  display: flex;
  list-style: none;
  gap: 53px;
  flex-wrap: wrap;
  transition: all 0.7s ease-in-out;
}
.nav-bar .menu .menu-item {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #2a333e;
  position: relative;
  cursor: pointer;
}
.nav-bar .menu .menu-item::before {
  content: "";
  position: absolute;
  background-color: #eb390d;
  width: 0;
  height: 3px;
  bottom: -3px;
  transition: all 0.3s ease-in-out;
}
.nav-bar .menu .menu-item:hover:before {
  width: 100%;
}
.nav-bar .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav-bar .icon .basket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .icon .basket div {
  position: absolute;
  right: -7px;
  top: -8px;
  background-color: RED;
  color: white;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 50%;
}
.nav-bar .icon .basket div span {
  font-size: 10px;
  font-weight: 700;
}
.nav-bar .icon .hamberger {
  display: none;
}
.nav-bar .icon .hamberger div {
  height: 2.5px;
  width: 100%;
  background-color: red;
}

@media (max-width: 1130px) {
  .nav-bar .menu {
    gap: 10px;
  }
  .nav-bar .icon {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .nav-bar .logo img {
    width: 100px;
    height: 20px;
  }
  .nav-bar .menu {
    gap: 8px;
  }
  .nav-bar .menu .menu-item {
    font-size: 16px;
  }
  .nav-bar .icon {
    gap: 8px;
  }
}
@media (max-width: 640px) {
  .nav-bar .menu {
    position: absolute;
    flex-direction: column;
    background-color: #c5cad1;
    padding: 5px;
    right: -114.02px;
    top: 40px;
  }
  .nav-bar .menu .menu-item::before {
    content: "";
    position: absolute;
    background-color: #eb390d;
    width: 0;
    height: 100%;
    opacity: 0.5;
    bottom: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav-bar .menu .menu-item:hover:before {
    width: 100%;
  }
  .nav-bar .show-menu {
    right: 0;
  }
  .nav-bar .icon .hamberger {
    padding: 1px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin-bottom: 200px;
}

.container {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 1130px) {
  .container {
    margin: auto;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: auto;
    padding: 10px;
  }
}
.slider {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.slider .left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider .left-section .section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .left-section .section .next-prev {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 20px;
}
.slider .left-section .section .next-prev div {
  width: 15px;
  height: 15px;
  background: #ea0025;
  opacity: 0.1;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 50%;
}
.slider .left-section .section .next-prev .active {
  opacity: 1;
}
.slider .left-section .section .text h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ea0000;
  margin-bottom: 30px;
}
.slider .left-section .section .text h1 {
  width: 100%;
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 122px;
  line-height: 100px;
  letter-spacing: -0.08em;
  color: #ea0000;
  margin-bottom: 41px;
}
.slider .left-section .section .text p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #2a333e;
  margin-bottom: 87px;
}
.slider .left-section .section .text .btns {
  display: flex;
  gap: 10px;
  margin-bottom: 129px;
}
.slider .left-section .section .text .btns .btn {
  text-align: center;
  padding: 18px 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.slider .left-section .section .text .btns .left-btn {
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}
.slider .left-section .section .text .btns .right-btn {
  background: #2a333e;
  box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
  border-radius: 10px;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.slider .left-section .section .text .work-time {
  display: flex;
  gap: 82px;
}
.slider .left-section .section .text .work-time .lunch-time h3,
.slider .left-section .section .text .work-time .diner-time h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #2a333e;
}
.slider .left-section .section .text .work-time .lunch-time span,
.slider .left-section .section .text .work-time .diner-time span {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #2a333e;
  opacity: 0.5;
}
.slider .left-section .section .price {
  font-size: 30px;
  transform: rotate(-90deg);
  z-index: 2;
  font-weight: bold;
  opacity: 0.2;
}
.slider .right-section {
  width: 50%;
  height: 100%;
  position: relative;
}
.slider .right-section img {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
}

@media (max-width: 1130px) {
  .slider .left-section .section .text h1 {
    font-size: 100px;
  }
  .slider .left-section .section .text .btns .btn {
    padding: 10px 20px;
  }
}
@media (max-width: 970px) {
  .slider {
    flex-wrap: wrap;
    background-image: url("../img/Hero Image.png");
    background-size: cover;
  }
  .slider .left-section {
    width: 100%;
  }
  .slider .left-section .section .text h1 {
    font-size: 80px;
  }
  .right-section {
    display: none;
  }
}
@media (max-width: 524px) {
  .slider .left-section .section .text h4 {
    margin-bottom: 10px;
  }
  .slider .left-section .section .text h1 {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .slider .left-section .section .text p {
    margin-bottom: 10px;
    line-height: 1;
  }
  .slider .left-section .section .text .btns {
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  .slider .left-section .section .text .btns .btn {
    padding: 5px 10px;
    font-size: 10px;
    width: 50%;
  }
  .slider .left-section .section .text .work-time {
    gap: 15px;
  }
  .slider .left-section .section .text .work-time h3 {
    font-size: 16px;
  }
  .slider .right-section {
    display: none;
  }
}
.service .service-header {
  text-align: center;
  margin-bottom: 112px;
}
.service .service-header h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.service .service-header h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.service .cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.service .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.service .cards .card img {
  width: 180px;
  height: 180px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
}
.service .cards .card .rating {
  display: flex;
}
.service .cards .card .rating img {
  width: 15px;
  height: 15px;
}
.service .cards .card .origin-food {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #2a333e;
}
.service .cards .card .hot {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #2a333e;
}
.service .cards .card .btn {
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
  padding: 13px 40px;
  min-width: 202px;
  display: flex;
  justify-content: space-between;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  transition: all 0.1s ease-in;
}
.service .cards .card .btn span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #f9f9f9;
}
.service .cards .card .btn:hover {
  background: #2a333e;
  color: white;
  cursor: pointer;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media (max-width: 970px) {
  .service .service-header h1 {
    font-size: 60px;
  }
}
@media (max-width: 470px) {
  .service .service-header {
    margin-bottom: 35px;
  }
  .service .service-header h1 {
    font-size: 40px;
  }
}
.more-products {
  margin-top: 100px;
  display: flex;
}
.more-products .food-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  min-width: 30%;
  position: relative;
}
.more-products .food-category::before {
  content: "";
  position: absolute;
  width: 3.65px;
  height: 100%;
  background: #ea0000;
  opacity: 0.3;
  right: 0px;
  top: 0;
}
.more-products .food-category .category {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 30px;
  padding: 5px 5px;
}
.more-products .food-category .category img {
  width: 41px;
}
.more-products .food-category .category div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
}
.more-products .food-category .category span {
  font-style: normal;
  font-weight: 600;
  font-size: 14.61px;
  line-height: 17px;
  text-transform: capitalize;
  color: #2a333e;
  opacity: 0.5;
}
.more-products .food-category .active {
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.more-products .food-category .active div {
  background-color: white;
}
.more-products .food-category .active span {
  color: #ffffff;
}
.more-products .food-screen {
  width: 80%;
  height: 560.33px;
  display: flex;
  justify-content: flex-end;
}
.more-products .food-screen .bg {
  width: 90%;
  height: 521.09px;
  background-color: #fef2f2;
  border-radius: 30.4376px;
  padding: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.more-products .food-screen .bg .ment {
  position: absolute;
  width: 81px;
  height: 49px;
  top: -30px;
  right: 246px;
}
.more-products .food-screen .bg .next-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 60px;
  top: 19.48px;
  left: 26.4px;
}
.more-products .food-screen .bg .next-btn div {
  width: 9.87px;
  height: 9.87px;
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
}
.more-products .food-screen .bg .next-btn .active {
  background: #ff5829;
}
.more-products .food-screen .bg .next-btn .second {
  background: #80c03d;
  opacity: 0.2;
}
.more-products .food-screen .bg .next-btn .third {
  background: #e6f2d8;
}
.more-products .food-screen .bg .fast-food {
  width: 294.64px;
  height: 43.83px;
  background: #ffdad7;
  border: 1.2175px solid #fcc7c3;
  border-radius: 60.8751px;
  position: relative;
}
.more-products .food-screen .bg .fast-food input {
  width: 100%;
  height: 100%;
  border-radius: 60.8751px;
  outline: none;
  border: none;
  padding: 12px 19px;
}
.more-products .food-screen .bg .fast-food input::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2a333e;
}
.more-products .food-screen .bg .fast-food input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2a333e;
}
.more-products .food-screen .bg .fast-food .delivery {
  width: 68.79px;
  position: absolute;
  top: -11px;
  right: -9px;
}
.more-products .food-screen .bg h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 62px;
  letter-spacing: -0.06em;
  color: #ea0000;
}
.more-products .food-screen .bg p {
  font-style: normal;
  font-weight: 500;
  font-size: 14.61px;
  line-height: 34px;
  color: #2a333e;
}
.more-products .food-screen .bg .btn {
  background: #2a333e;
  box-shadow: 0px 100px 80px rgba(68, 68, 68, 0.1), 0px 64.8148px 46.8519px rgba(68, 68, 68, 0.0759259), 0px 38.5185px 25.4815px rgba(68, 68, 68, 0.0607407), 0px 20px 13px rgba(68, 68, 68, 0.05), 0px 8.14815px 6.51852px rgba(68, 68, 68, 0.0392593), 0px 1.85185px 3.14815px rgba(68, 68, 68, 0.0240741);
  border-radius: 10px;
  padding: 19px 23px;
  max-width: 171px;
  margin-top: 40px;
}
.more-products .food-screen .bg .btn span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  /* identical to box height, or 108% */
  text-align: center;
  color: #ffffff;
}
.more-products .food-screen .bg img {
  position: absolute;
  width: 263px;
  top: 297px;
  right: -27px;
}

@media (max-width: 970px) {
  .more-products .food-screen .bg {
    width: 100%;
    height: 100%;
  }
  .more-products .food-screen .bg .next-btn {
    top: 9.48px;
  }
  .more-products .food-screen .bg h1 {
    font-size: 58px;
  }
}
@media (max-width: 774px) {
  .more-products .food-screen .bg {
    width: 100%;
    height: 100%;
  }
  .more-products .food-screen .bg .next-btn {
    top: 9.48px;
  }
  .more-products .food-screen .bg h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .more-products .food-screen .bg p {
    line-height: 24px;
  }
  .more-products .food-screen .bg img {
    width: 170px;
    top: 327px;
    right: -3px;
  }
}
@media (max-width: 674px) {
  .more-products .food-screen .bg {
    padding: 60px 0 0 20px;
  }
  .more-products .food-screen .bg .next-btn {
    top: 9.48px;
  }
  .more-products .food-screen .bg h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .more-products .food-screen .bg p {
    line-height: 24px;
  }
  .more-products .food-screen .bg img {
    width: 170px;
    top: 327px;
    right: -3px;
  }
}
@media (max-width: 600px) {
  .more-products {
    flex-wrap: wrap;
    gap: 100px;
  }
  .more-products .food-category {
    width: 100%;
  }
  .more-products .food-screen {
    width: 100%;
  }
  .more-products .food-screen .bg {
    padding: 30px 0;
    justify-content: space-around;
    gap: 10px;
  }
  .more-products .food-screen .bg .ment {
    right: 0;
  }
  .more-products .food-screen .bg img {
    width: 124px;
    top: 380px;
  }
}
@media (max-width: 600px) {
  .bg img {
    display: none;
  }
}
.best-saller {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.best-saller .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
  margin-bottom: 50px;
}
.best-saller .header h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.best-saller .header h1 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.best-saller .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 40px;
}
.best-saller .cards .card {
  border: 1.2px solid #efefef;
  box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 10px 28px;
  width: 215px;
  flex: 1;
}
.best-saller .cards .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.best-saller .cards .card .image img {
  width: 185px;
}
.best-saller .cards .card .card-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.best-saller .cards .card .card-1 .rating {
  display: flex;
  gap: 3px;
}
.best-saller .cards .card .card-1 .rating img {
  width: 15px;
}
.best-saller .cards .card .card-1 .card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.best-saller .cards .card .card-1 .card-footer .price {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #2a333e;
}
.best-saller .cards .card .card-1 .card-footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.best-saller .cards .card .card-1 .card-footer .icons div {
  width: 32px;
  height: 32px;
  background: #ea0000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
}
.best-saller .cards .card .card-1 .card-footer .icons div i {
  color: white;
}
.best-saller .see-all-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.best-saller .see-all-menu .btn {
  background: #ea0000;
  box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1), 0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259), 0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407), 0px 20px 13px rgba(234, 0, 37, 0.05), 0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593), 0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
.best-saller .see-all-menu .btn span {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
}
.best-saller .see-all-menu .btn i {
  width: 38px;
  height: 38px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(185, 66, 42, 0.19);
  border-radius: 10px;
  display: flex;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.best-saller .see-all-menu .btn:hover {
  background-color: #2a333e;
  cursor: pointer;
}
.best-saller .see-all-menu .btn:hover i {
  color: #ea0000;
}

@media (max-width: 794px) {
  .best-saller .header h1 {
    font-size: 46px;
    line-height: 1;
  }
}
@media (max-width: 600px) {
  .best-saller .header h1 {
    font-size: 26px;
  }
}
.our-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
}
.our-app .app {
  flex: 1;
}
.our-app .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex: 1;
  gap: 50px;
}
.our-app .content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #2a333e;
}
.our-app .content h2 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 60px;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.our-app .content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #2a333e;
}
.our-app .content .btn {
  display: flex;
  gap: 50px;
  flex-flow: row wrap;
}
.our-app .content img {
  flex: 1;
}

@media (max-width: 400px) {
  .our-app .app .app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-app .content {
    padding: 15px;
    gap: 10px;
  }
  .our-app .content h2 {
    font-size: 28px;
    line-height: 1;
  }
  .our-app .content .btn {
    gap: 10px;
  }
}
.testimonial .header {
  text-align: center;
}
.testimonial .header h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.testimonial .header .h2 {
  position: relative;
}
.testimonial .header .h2 h2 {
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 60px;
  letter-spacing: -0.08em;
  color: #ea0000;
}
.testimonial .header .h2 img {
  position: absolute;
  bottom: -36px;
}
.testimonial .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
  flex-flow: row wrap;
}
.testimonial .cards .left-card,
.testimonial .cards .right-card {
  display: flex;
  gap: 25px;
  flex: 1;
}
.testimonial .cards .left-card .content,
.testimonial .cards .right-card .content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.testimonial .cards .left-card .content p,
.testimonial .cards .right-card .content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  color: #2a333e;
}
.testimonial .cards .left-card .content p span,
.testimonial .cards .right-card .content p span {
  color: #ea0000;
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 600px) {
  .testimonial .cards {
    flex-direction: column;
  }
  .testimonial .cards .left-card,
  .testimonial .cards .right-card {
    flex-direction: column;
    align-items: center;
  }
}
.newsletter {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.newsletter .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 31px 150px;
  border: 1px solid #ea0000;
  border-radius: 47px;
  background-color: white;
  z-index: 2;
  gap: 34px;
}
.newsletter .content .header {
  text-align: center;
}
.newsletter .content .header .h3 {
  position: relative;
}
.newsletter .content .header .h3 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2a333e;
}
.newsletter .content .header .h3 img {
  position: absolute;
  width: 109px;
}
.newsletter .content p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #2a333e;
}
.newsletter .content .subscribe {
  position: relative;
  width: 100%;
}
.newsletter .content .subscribe input {
  border: 1px solid #ea0000;
  border-radius: 47px;
  width: 100%;
  height: 56px;
  padding-left: 29px;
  outline: none;
}
.newsletter .content .subscribe button {
  position: absolute;
  padding: 11px 20px;
  background: #ea0000;
  border-radius: 47px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  right: 6px;
  top: 5px;
}

@media (max-width: 687px) {
  .newsletter .content {
    padding: 31px 60px;
  }
  .newsletter .content .subscribe {
    width: 100%;
  }
  .newsletter .content .subscribe input {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .newsletter .content {
    padding: 14px 9px;
    gap: 20px;
  }
  .newsletter .content .header h3 {
    font-size: 18px;
    line-height: 1;
  }
}
@media (max-width: 332px) {
  .newsletter .content h3 {
    font-size: 17px;
  }
  .newsletter .content img {
    display: none;
  }
  .newsletter .content .subscribe {
    text-align: center;
  }
  .newsletter .content .subscribe input {
    height: 40px;
  }
  .newsletter .content .subscribe button {
    position: relative;
    padding: 5px 10px;
  }
}
.footer {
  position: relative;
}
.footer .content {
  position: absolute;
  width: 100%;
  background: #2a333e;
  top: -123px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  padding: 200px 10px 10px 10px;
  gap: 58px;
  flex-flow: row wrap;
}
.footer .content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer .content .logo {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.footer .content .logo .icons {
  display: flex;
  gap: 20px;
}
.footer .content .logo .icons i {
  color: white;
}
.footer .content .contact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .content .contact .localisation {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.footer .content .contact .adress {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.footer .content .contact .phone {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.footer .content .contact i {
  color: white;
}
.footer .content .support {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer .content .info {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer .content .copyright {
  text-align: center;
  width: 100%;
}
.footer .content .copyright span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */