.best-saller {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-direction: column;
    margin-bottom: 50px;
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #2a333e;
    }
    h2 {
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      letter-spacing: -0.08em;
      color: #ea0000;
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 40px;

    .card {
      border: 1.2px solid #efefef;
      box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      padding: 10px;
      width: 215px;
      flex: 1;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        img {
          width: 185px;
        }
      }

      .card-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .rating {
          display: flex;

          gap: 3px;
          img {
            width: 15px;
          }
        }
        .card-footer {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .price {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #2a333e;
          }
          .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            div {
              width: 32px;
              height: 32px;
              background: #ea0000;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
                0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
                0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
                0px 20px 13px rgba(234, 0, 37, 0.05),
                0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
                0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
              border-radius: 10px;
              i {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .see-all-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    .btn {
      background: #ea0000;
      box-shadow: 0px 100px 80px rgba(234, 0, 37, 0.1),
        0px 64.8148px 46.8519px rgba(234, 0, 37, 0.0759259),
        0px 38.5185px 25.4815px rgba(234, 0, 37, 0.0607407),
        0px 20px 13px rgba(234, 0, 37, 0.05),
        0px 8.14815px 6.51852px rgba(234, 0, 37, 0.0392593),
        0px 1.85185px 3.14815px rgba(234, 0, 37, 0.0240741);
      border-radius: 10px;
      padding: 18px 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      transition: all 0.2s ease-in-out;
      span {
        color: #ffffff;
        font-style: normal;
        font-weight: 500;
      }
      i {
        width: 34px;
        height: 34px;
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(185, 66, 42, 0.19);
        border-radius: 10px;
        display: flex;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
      }
      &:hover {
        background-color: #2a333e;
        cursor: pointer;
        i {
          color: #ea0000;
        }
      }
    }
  }
}
@media (max-width: 794px) {
  .best-saller {
    .header {
      h2 {
        font-size: 46px;
        line-height: 1;
      }
    }
  }
}
@media (max-width: 600px) {
  .best-saller {
    .header {
      h2 {
        font-size: 26px;
      }
    }
  }
}
